{% extends "base.html" %}

{% block title %}Lista de Reservas{% endblock %}

{% block content %}


<div class="mt-5">
    <h2>Lista de Reservas</h2>

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Nome da Empresa</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
            <tr>
                <td>{{object.nome_empresa}}</td>
                <td>
                    <a style=" color: rgb(245, 145, 236)" href="{% url 'reserva_editar' pk=object.pk %}"><i class="fas fa-edit"></i></a>
                    <a style=" color: rgb(245, 145, 236)" href="{% url 'reserva_remover' pk=object.pk %}"><i class="fas fa-trash-alt"></i></a>
                    <a style=" color: rgb(245, 145, 236)" href="{% url 'detalhe_reserva' pk=object.pk %}"><i class="fas fa-search"></i></a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">
                    <p>Não existem reservas cadastradas.</p>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="mb-3">
        <a style=" background-color: rgb(245, 145, 236)" href="{% url 'reserva_criar' %}" class="btn ">Adicionar Novo</a>
    </div>
</div>
{% endblock %}